openapi: 3.0.1
info:
  title: Minigame API
  description: Minigame website API
  version: 1.0.0
servers:
- url: https://minigame-api.letsdream.today/
components:
  responses:
    TooManyRequests:
      description: Throttle limit reached. Please wait.
  schemas:
    CountResponse:
      type: object
      properties:
        total:
          type: integer
          description: Total number of records found
          example: 1
        rows:
          type: array
          items:
            properties:
              name:
                type: string
                description: winner player name
                example: billyovo
              UUID:
                type: string
                description: winner UUID
                example: 13ef7548270b4a67a58bfe880701b11e
              total:
                type: integer
                description: number of times won
                example: 1
    RecordResponse:
      type: object
      properties:
        total:
          type: integer
          description: Total number of records found
          example: 459
        rows:
          type: array
          items:
            properties:
              _id:
                type: string
                description: id of the record
                example: 63fa06c748fe037985ba5fc4
              name:
                type: string
                description: winner player name
                example: billyovo
              UUID:
                type: string
                description: winner UUID
                example: 13ef7548270b4a67a58bfe880701b11e
              event:
                type: string
                description: minigame name
                example: 碰碰豬
              server:
                type: string
                description: server name of which the minigame takes place
                example: 空島
              date:
                type: string
                description: date of the minigame
                example: 2023-02-25
              
paths:
  /events:
    get:
      tags:
      - misc
      description: Get list of available minigames
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    title:
                      type: string
                      description: Minigame name
                      example: 繽紛飛天蛇
                    id:
                      type: string
                      description: Unique ID for the minigame
                      example: snake
                    rrule:
                      type: string
                      description: rrule for the event's occurrence
                      example: FREQ=MONTHLY;BYDAY=3WE,1SA
                    imageurl:
                      type: string
                      description: link to icon of this minigame on the website
                      example: assets/images/snake.svg
                    emote:
                      type: string
                      description: emote of this minigame on discord
                      example: ':snake:'
        default:
          description: Unexpected error
  /record/{server}:
    get:
      tags:
      - record
      description: Get records by server
      parameters:
      - name: server
        in: path
        required: true
        description: Search record in this server
        schema:
          type: string
          enum:
            - survival
            - skyblock
            - all
      - name: before
        in: query
        description: Get records before this id
        schema:
          type: string
          example: 63fa06c748fe037985ba5fc4
      - name: after
        in: query
        description: Get records after this id
        schema:
          type: string
          example: 63fa06c748fe037985ba5fc4
      - name: dateBefore
        in: query
        description: Get records before this date with format yyyy-MM-dd
        schema:
          type: string
          example: 2023-02-28
      - name: limit
        in: query
        description: Maximum number of record to return in one query
        schema:
          type: integer
          example: 20
      responses:
        200:
          description: List of player winning history
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/RecordResponse'
        403:
          description: Limit is too big or too small. Must be ranging from 1-100
        429:
          $ref: '#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
  /record/{server}/{event}:
    get:
      tags:
      - record
      description: Get records by server & event
      parameters:
      - name: server
        in: path
        required: true
        description: Search record in this server
        schema:
          type: string
          enum:
            - survival
            - skyblock
            - all
      - name: event
        in: path
        required: true
        description: Search by this minigame ID
        schema:
          type: string
          enum:
            - bumper
            - cannon
            - snake
            - boat
            - drop
            - match
      - name: before
        in: query
        description: Get records before this id
        schema:
          type: string
          example: 63fa06c748fe037985ba5fc4
      - name: after
        in: query
        description: Get records after this id
        schema:
          type: string
          example: 63fa06c748fe037985ba5fc4
      - name: dateBefore
        in: query
        description: Get records before this date with format yyyy-MM-dd
        schema:
          type: string
          example: 2023-02-28
      - name: limit
        in: query
        description: Maximum number of record to return in one query
        schema:
          type: integer
          example: 20
      responses:
        200:
          description: List of player winning history
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/RecordResponse'
        400:
          description: Invalid minigame ID
        403:
          description: Limit is too big or too small. Must be ranging from 1-100
        429:
          $ref: '#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
  /record/{server}/{event}/{player}:
    get:
      tags:
      - record
      description: Get records by server & event & player name
      parameters:
      - name: server
        in: path
        required: true
        description: Search record in this server
        schema:
          type: string
          enum:
            - survival
            - skyblock
            - all
      - name: event
        in: path
        required: true
        description: Search by this minigame ID
        schema:
          type: string
          enum:
            - bumper
            - cannon
            - snake
            - boat
            - drop
            - match
      - name: player
        in: path
        required: true
        description: Search by this player name, must be a complete match
        schema:
          type: string
          example: billyovo
      - name: before
        in: query
        description: Get records before this id
        schema:
          type: string
          example: 63fa06c748fe037985ba5fc4
      - name: after
        in: query
        description: Get records after this id
        schema:
          type: string
          example: 63fa06c748fe037985ba5fc4
      - name: dateBefore
        in: query
        description: Get records before this date with format yyyy-MM-dd
        schema:
          type: string
          example: 2023-02-28
      - name: limit
        in: query
        description: Maximum number of record to return in one query
        schema:
          type: integer
          example: 20
      responses:
        200:
          description: List of player winning history
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/RecordResponse'
        400:
          description: Invalid minigame ID
        403:
          description: Limit is too big or too small. Must be ranging from 1-100
        429:
          $ref: '#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
  /count/{server}:
    get:
      tags:
      - count
      description: Count the number of time each players have won in a server
      parameters:
      - name: server
        in: path
        description: Can be survival, skyblock or all
        required: true
        schema:
          type: string
          enum:
            - survival
            - skyblock
            - all
      - name: dateBefore
        in: query
        description: Get count before this date with format yyyy-MM-dd
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of record to return in one query
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        schema:
          type: string
      responses:
        200:
          description: List of player winning count
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/CountResponse'
        403:
          description: Limit is too big or too small. Must be ranging from 1-100
        429:
          $ref: '#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
  /count/{server}/{event}:
    get:
      tags:
      - count
      description: Count the number of time each players have won in a server by event
      parameters:
      - name: server
        in: path
        description: Can be survival, skyblock or all
        required: true
        schema:
          type: string
          enum:
            - survival
            - skyblock
            - all
      - name: event
        in: path
        required: true
        description: Search by this minigame ID
        schema:
          type: string
          enum:
            - bumper
            - cannon
            - snake
            - boat
            - drop
            - match
      - name: dateBefore
        in: query
        description: Get count before this date with format yyyy-MM-dd
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of record to return in one query
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        schema:
          type: string
      responses:
        200:
          description: List of player winning count
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/CountResponse'
        400:
          description: Invalid minigame ID
        403:
          description: Limit is too big or too small. Must be ranging from 1-100
        429:
          $ref: '#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
  /count/{server}/{event}/{player}:
    get:
      tags:
      - count
      description: Count the number of time each players have won in a server by event
      parameters:
      - name: server
        in: path
        description: Can be survival, skyblock or all
        required: true
        schema:
          type: string
          enum:
            - survival
            - skyblock
            - all
      - name: event
        in: path
        required: true
        description: Search by this minigame ID
        schema:
          type: string
          enum:
            - bumper
            - cannon
            - snake
            - boat
            - drop
            - match
      - name: player
        in: path
        required: true
        description: Search by this player name, must be a complete match
        schema:
          type: string
          example: billyovo
      - name: dateBefore
        in: query
        description: Get count before this date with format yyyy-MM-dd
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of record to return in one query
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        schema:
          type: string
      responses:
        200:
          description: List of player winning count
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/CountResponse'
        400:
          description: Invalid minigame ID
        403:
          description: Limit is too big or too small. Must be ranging from 1-100
        429:
          $ref: '#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
  /news:
    get:
      tags:
      - news
      description: Get list of news
      parameters:
      - name: before
        in: query
        description: Get news before this id
        schema:
          type: string
      - name: after
        in: query
        description: Get news after this id
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of news to return in one query
        schema:
          type: string
      responses:
        200:
          description: OK
          content: 
            application/json:
              schema:
                type: array
                items:
                  properties:
                    total: 
                      type: integer
                    rows:
                      type: object
                      properties:
                        _id:
                          type: string
                          description: id of the news
                          example: 640ea7995947842c3f584296
                        title:
                          type: string
                          example: I am news title
                        publish_date:
                          type: string
                          example: 2023-03-15
        403:
          description: Limit is too big or too small. Must be ranging from 1-100
        404:
          description: No news associated with this id
        429:
          $ref: '#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
                        
              
  /news/{_id}:
    get:
      tags:
      - news
      description: Get news by ID
      parameters:
      - name: _id
        in: path
        description: news ID
        required: true
        schema:
          type: string
      responses:
        200:
          description: Found News
          content: 
            application/json:
              schema:
                type: object
                properties:
                  _id:
                    type: string
                    description: id of the news
                    example: 640ea7995947842c3f584296
                  title:
                    type: string
                    example: I am news title
                  content:
                    type: string
                    example: <p>I am news paragraph1</p><p>paragraph2</p>
                  publish_date:
                    type: string
                    example: 2023-03-15
                  image:
                    type: array
                    description: images used in the news
                    items:
                      type: string
                      example: https://pbs.twimg.com/media/FXrRKAZacAAYRAJ.jpg

